.backButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
    margin-left: 375px;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid #ADEA16;
    background-color: white;
    cursor: pointer;
}

.backButton:hover {
    background-color: #ADEA16;
}

.serviceProfileContainer {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 20px;
    border: 1px solid #ADEA16;
}

.profilePictureBorder {
    position: relative;
    margin-top: 20px;
    width: 90%;
    height: 150px;
    display: flex;
    justify-content: center;
}

.coverPhoto{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.profilePictureContainer {
    position: absolute;
    width: 120px; 
    height: 120px;
    border-radius: 50%; 
    overflow: hidden; 
    margin-bottom: 15px; 
    margin-top: 15px;
    border: 1px solid #ADEA16;
}

.profilePicture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.serviceDetailsTitle {
    align-self: flex-start;
    text-align: left;
    margin-left: 60px;
    color: #ADEA16;
}

.serviceDetailsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ADEA16;
    border-radius: 20px;
    margin-top: -10px;
    width: 90%;
    box-sizing: border-box;
}

.serviceTopInfo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}

.serviceNameRating,
.serviceTitleLocation,
.serviceRateContact {
    margin: 0 10px;
    margin-left: 40px;
    flex: 1;
    box-sizing: border-box;
    width: auto;
}


.serviceName {
    font-size: 22px;
    font-weight: bold;
}

.serviceTitle {
    font-size: 22px;
}

.serviceRate {
    font-size: 22px;
    color: green;
}

.serviceContact {
    font-size: 22px;
}

.serviceRating {
    font-size: 22px;
}

.serviceLocation {
    font-size: 22px;
}

.serviceDescription {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    line-height: 1.5;
}

.serviceRequestContainer {
    border: 1px solid #ADEA16;
    border-radius: 20px;
    margin-top: -10px;
    width: 90%;
}

.serviceFormContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.ant-form-item.serviceRequestHeaders .ant-form-item-label > label {
    font-weight: bold;
}
